@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

body{
    background-color: rgb(104, 165, 235) ;
    font-family:'Pokemon Solid', sans-serif;
}
h1{
  text-align:center;
   
}
h2{
    text-align:center;
    
}
h1 img{
    width:400px;
}
.gallery{
    display:flex;
    text-align:center;
    flex-wrap: wrap;
    justify-content: space-around;

}
img{
    width:200px;
    transition: 1s;
}
.gallery img:hover{
    transform: scale(1.2);
}
.gallery figure{
    border: 2px solid black;
}
